__pycache__/
*.py[cod]
*.log
.env
venv/
*.spec
dist/
build/
beirut_pos/receipts/
beirut_pos/*.db
bar_tickets/
*.db
.DS_Store
.idea/

venv/
__pycache__/
beirut_pos/*.db
beirut_pos/receipts/
*.log
dist/
build/
*.spec
.env

venv/
__pycache__/
beirut_pos/*.db
beirut_pos/receipts/
*.log
dist/
build/
*.spec
.env
